*{
    margin: 0;
    color: white;
    
}
html{
    background-color: #4cb9b8;

}
body {
    font-family: sans-serif;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: #00618B;
    padding: 5px;
}

.navbar{
    display: flex;
    gap: 10px;
}

.navbar li{
    list-style-type: none;
}
.navbar a{
    text-decoration: none;
}

.content * {
    color: black;
}

img{
    width: 60%;
    max-width: 800px;
}
p {
    margin: 0 20px;
    text-align: start;
}
footer {
    background-color: #E48F01;
    margin-top: auto;
    padding: 5px;
    margin-top: 20px;
}